In [3]:
import pandas as pd

In [7]:
# Load Dataset
file_path ='Resources/iris.csv'
df = pd.read_csv(file_path)
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/iris.csv'

In [3]:
# Drop the "class" field
new_iris_df = iris_df.drop(['class'], axis= 1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
#Reorder columns
reorder_iris_df = new_iris_df[['sepal_length', 'petal_length', 'sepal_width', 'petal_width']]
reorder_iris_df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [12]:
#Creating a new CSV file with a clean Dataframe
output_file_path = "new_iris_data.csv"
new_iris_df.to_csv(output_file_path, index=False)

In [5]:
# Load Dataset
file_path = "shopping_data.csv"
shopping_df = pd.read_csv(file_path)
shopping_df.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [6]:
# Columns
shopping_df.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [7]:
# list of dataframes types 
shopping_df.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [8]:
# Find null values 
for column in shopping_df.columns:
    print(f"Column {column} has {shopping_df[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [9]:
# Drop null rows
shopping_df = shopping_df.dropna()

In [12]:
# Find duplicate entries
print(f"Duplicate entries: {shopping_df.duplicated().sum()}")

Duplicate entries: 0

In [13]:
# Remove the CustomerID Column
shopping_df.drop(columns=["CustomerID"], inplace=True)
shopping_df.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [14]:
# Transform String Column 
def change_string(member):
    if member == "Yes":
        return 1
    else :
        return 0
    
shopping_df["Card Member"] = shopping_df["Card Member"].apply(change_string)
shopping_df.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0          15000                    39.0
1            1  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [15]:
# Transform Annual Income 
shopping_df["Annual Income"] = shopping_df["Annual Income"] / 1000
shopping_df.head()

   Card Member   Age  Annual Income  Spending Score (1-100)
0            1  19.0           15.0                    39.0
1            1  21.0           15.0                    81.0
2            0  20.0           16.0                     6.0
3            0  23.0           16.0                    77.0
4            0  31.0           17.0                    40.0

In [31]:
shopping_df = shopping_df.rename(columns={'Card Member':'Member', 'Annual Income':'Income', 'Spending Score (1-100)':'Score'})
shopping_df.head()

   Member   Age  Income  Score
0       1  19.0    15.0   39.0
1       1  21.0    15.0   81.0
2       0  20.0    16.0    6.0
3       0  23.0    16.0   77.0
4       0  31.0    17.0   40.0

In [33]:
# Saving cleaned data
file_path = "shopping_data_cleaned.csv"
shopping_df.to_csv(file_path, index=False)